{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="page-header">Блоки в общежитии # {{ hostel_number }}</h1>
        <div class="col-md-8">
            <div class="panel panel-default">
                {% for floor in floors %}
                    <div class="col-md-12 panel panel-body-default">
                        <h5>Floor {{ floor.floor }}</h5>
                        <div class="panel panel-body">
                            {% for block in blocks %}
                                {% if floor.floor == block.floor  %}
                                    <div class="col-md-4" style="float:left;">
                                        <h4><a href="{{ url_for('block_view', hostel=hostel_number, block=block.number) }}" style="display:inline;">{{ block.number }}
                                        {% if block.hot_water %}<span class="glyphicon glyphicon-fire" title="Гарячая вода"></span>{% endif %}
                                        {% if block.windows %}<span class="glyphicon glyphicon-modal-window" title="Металопластиковые окна"></span>{% endif %}

                                    </a></h4></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{#        <div class="col-md-4">#}
{#            <div class="panel panel-collapse">#}
{#                <form action="{{ url_for('hostel_detail_free', hostel=rooms[0].hostel_id) }}">#}
{#                    <button type="submit" class="btn btn-default">Показать комнаты в которых есть места</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
{% endblock %}