<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" xmlns="http://www.w3.org/1999/html"></script>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Plot</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <font color="red">Hostel 2</font>
                    <font color="blue">Hostel 3</font>
                    <font color="green">Hostel 4</font>
                    <center>
                        <canvas id="chart" width="740" height="400"></canvas>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var json2 = {{ values2 | tojson }};
var json3 = {{ values3 | tojson }};
var json4 = {{ values4 | tojson }};
var upperline = [];
var lowerline = [];

var chartjsData2 = [];
var chartjsData3 = [];
var chartjsData4 = [];
var chartisLabel = [];
var buffer = [];
for (var i = 0; i < json2.length; i++) {
    chartjsData2.push(json2[i].temperature);
    chartisLabel.push(json2[i].date);
	upperline.push(24);
	lowerline.push(17);
}
for (var i = 0; i < json3.length; i++) {
    chartjsData3.push(json3[i].temperature);
}

for (var i = 0; i < json4.length; i++) {
    chartjsData4.push(json4[i].temperature);
}

var barChartData = {
            labels : chartisLabel,
            datasets : [
                {
                    fillColor : "rgba(220,280,220,0)",
                    strokeColor : "rgba(255,0,0,1)",
                    data : chartjsData2

                },
                {
                    fillColor : "rgba(220,280,220,0)",
                    strokeColor : "rgba(0,255,0,1)",
                    data : chartjsData3

                },
                {
                    fillColor : "rgba(220,280,220,0)",
                    strokeColor : "rgba(0,0,255,1)",
                    data : chartjsData4

                },
                {
                    fillColor : "rgba(220,280,220,0)",
                    strokeColor : "rgba(0,0,255,1)",
                    data : lowerline

                },
                {
                    fillColor : "rgba(220,280,220,0)",
                    strokeColor : "rgba(255,0,0,1)",
                    data : upperline

                },
            ],
        };
    var myLine = new Chart(document.getElementById("chart").getContext("2d")).Line(barChartData);


</script>
{% endblock %}
