body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	color: #565656;
}
html.preview,
body.preview {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}
html.preview {
	padding-top: 60px;
}
/*********************************************************
	STYLE RESETS
*********************************************************/
a {
	color: #008ed6;
	-webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: #005885;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:focus {
    outline: none;
}

.alert {
	border-radius: 3px;
}
h2.pageTitle {
	border-bottom: 1px solid #D5D5D5;
	margin: 0 0 20px;
	padding-bottom: 15px;
}
.table-bottom-radius {
    border-collapse: separate;
}
.table-bottom-radius {
    border: solid #dddddd 1px;
    border-radius: 0 0 3px 3px;
    border-left:0px;
	border-top-width: 0;
}
.table-bottom-radius td, .table-curved th {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
.table-bottom-radius tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-bottom-radius tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 3px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 3px 0 0;
}
.table-curved th:only-child{
    border-radius: 3px 3px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
.pagination{
	font-size: 16px;
}

.pagination > li > a, .pagination > li > span {
	border: none;
	border-top: 5px solid #eeeeee;
	color: #888;
	float: left;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
	margin: 0;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background: none;
	border-color: #008ed6;
	color: #008ed6;
}
.pagination > li.previous  > a:hover, .pagination > li.previous  > a:focus {
	border-color: #fff;
	color: #008ed6;
	transform:	translateX(-5px) scale(1.5);
}
.pagination > li.next  > a:hover, .pagination > li.next  > a:focus {
	border-color: #fff;
	color: #008ed6;
	transform:	translateX(5px) scale(1.5);
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background: none !important;
    transform: none !important;
    border-color: #fff !important;
    color: #bbb !important;
    cursor: default !important;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #005885;
	color: #222222;
	cursor: default;
	z-index: 2;
	background: none;
}
.pagination > .previous a, .pagination > .next a {
	border-color: #fff;
}
.progress-bar {
	-moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.navbar-inverse {
	background-color: #fff;
	border: 0 none;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-inverse .navbar-nav > li > a {
	color: #555;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 20px 14px;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: #f5f5f5;
	color: #008ed6;
}
.navbar-brand {
	float: left;
	height: auto;
	margin-right: 20px;
	padding: 14px 0;
}
.navbar-brand img {
    display: block;
    height: 32px;
}
.primaryNav {
	margin-bottom: 0;
	z-index: 2;
}
.secondaryNav {
	background: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	font-size: 12px;
	min-height: inherit;
	margin-bottom: 25px;
	z-index: 1;
}
.secondaryNav .catNav {
	margin-left: 0;
}
.secondaryNav .navbar-nav > li > a {
	color: #555555;
	padding: 10px 12px;
}
.secondaryNav .navbar-nav > li > a:hover,
.secondaryNav .navbar-nav > li > a:focus {
    background-color: #ddd;
}
#userMenu span {
	float: left;
}
#userMenu i {
	line-height: 20px;
	display: block;
	float: right;
	margin-left: 4px;

}
.navbar .navbar-nav .open .dropdown-menu {
	right: auto;
}
.navbar .navbar-nav .open .dropdown-menu.inverse {
	left: auto;
	right: 0;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #008ed6;
    color: #FFFFFF;
}
.dropdown-menu > li > a {
	color: #888;
	font-weight: 300;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #eee;
    color: #888;
}
.navbar .navbar-nav .search_menu.open .dropdown-menu {
	float: left;
	left: auto;
	padding: 12px;
	right: 0;
	width: 500px;
}
.search_menu .form-control {
	height: 44px;
}
.previewNav {
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
}
.previewNav .closeframe {
	border-right: 1px dashed #999999;
    float: left;
    font-size: 20px;
    line-height: 60px;
    margin: 0 25px;
    padding-right: 25px;
}
.previewNav .closeframe a {
	color: #ccc;
}
.previewNav .logo {
	float: left;
	height: auto;
	margin: 0 25px 0 0;
	padding: 15px 0 9px;
}
.previewNav .logo img {
	display: block;
    height: 32px;
}
.previewNav .info {
	float: right;
	line-height: 60px;
	margin: 0 25px;
}
.previewNav .info a {
	color: #888;
}
.previewNav .info a:hover,
.previewNav .info a:focus {
	color: #005885;
}
.previewNav .buy {
	float: right;
	margin: 9px 25px;
}
@media(max-width:767px){
	.previewNav .logo {
		display: none;
	}
}
@media(max-width:500px){
	.previewNav .buy {
		display: none;
	}
	.previewNav .info {
		font-size: 12px;
		margin: 0 25px 0 0;
	}
}


.mainHeader {
	padding: 34px 0;
	background: url("http://publication.kspu.edu/img/1438.jpg") no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	margin-bottom: 30px;
	/*527593*/
}
.homeHeader {
	text-align: center;
	padding: 50px 0;
}
.mainHeader h1 {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 34px;
	font-weight: 300;
}
.mainHeader h1.pageTitle {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 40px;
}
.mainHeader h1 .angle {
	margin: 0 8px;
}
.mainHeader p {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 28px;
	margin: 0 0 40px;
	font-weight: 300;
}
.mainHeader .btnGroup .btn {
	border-radius: 3px;
	box-shadow: none;
	color: #ffffff;
	font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 10px;
	padding: 14px 30px;
	text-transform: uppercase;
}
.mainHeader .btnGroup .btn .fa {
	padding-right: 5px;
}
.mainHeader .btnGroup .btn:focus,
.mainHeader .btnGroup .btn:hover {
	border-color: #fff;
}


footer {
	background-color: #333333;
	color: #d4d4d4;
	font-size: 14px;
}