* {
  margin: 0;
  /* padding: 0; */
}
body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	color: #565656;
	background-image: url(../img/121.png);
	background-repeat: repeat;
	margin-bottom: 80px;
}

fieldset>ul {
    list-style-type: none;
}

html {
  position: relative;
  min-height: 100%;
}

html.preview,
body.preview {
	min-height: 100%;
	overflow: hidden;
}
html.preview {
}
/*********************************************************
	STYLE RESETS
*********************************************************/
a {
	color: #008ed6;
	-webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: #005885;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:focus {
    outline: none;
}

.alert {
	border-radius: 3px;
}
h2.pageTitle {
	border-bottom: 1px solid #D5D5D5;
	margin: 0 0 20px;
	padding-bottom: 15px;
}
.table-bottom-radius {
    border-collapse: separate;
}
.table-bottom-radius {
    border: solid #dddddd 1px;
    border-radius: 0 0 3px 3px;
    border-left:0px;
	border-top-width: 0;
}
.table-bottom-radius td, .table-curved th {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
.table-bottom-radius tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-bottom-radius tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 3px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 3px 0 0;
}
.table-curved th:only-child{
    border-radius: 3px 3px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
.pagination{
	font-size: 16px;
}

.pagination > li > a, .pagination > li > span {
	border: none;
	border-top: 5px solid #eeeeee;
	color: #888;
	float: left;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
	margin: 0;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background: none;
	border-color: #008ed6;
	color: #008ed6;
}
.pagination > li.previous  > a:hover, .pagination > li.previous  > a:focus {
	border-color: #fff;
	color: #008ed6;
	transform:	translateX(-5px) scale(1.5);
}
.pagination > li.next  > a:hover, .pagination > li.next  > a:focus {
	border-color: #fff;
	color: #008ed6;
	transform:	translateX(5px) scale(1.5);
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background: none !important;
    transform: none !important;
    border-color: #fff !important;
    color: #bbb !important;
    cursor: default !important;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #005885;
	color: #222222;
	cursor: default;
	z-index: 2;
	background: none;
}
.pagination > .previous a, .pagination > .next a {
	border-color: #fff;
}
.progress-bar {
	-moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

.navbar-inverse {
	background-color: #efefef;
	border: 0 none;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-inverse .navbar-nav > li > a {
	color: #555;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	padding: 20px 14px;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: #f5f5f5;
	color: #008ed6;
}
.navbar-inverse .regnavbar-nav > li > a:hover,
.navbar-inverse .regnavbar-nav > li > a:focus {
	background-color: #f5f5f5;
	color: #008ed6;
}
.navbar-brand {
	float: left;
	height: auto;
	margin-right: 20px;
	padding: 14px 0;
}
.navbar-brand img {
    display: block;
    height: 32px;
}
.primaryNav {
	margin-bottom: 0;
	z-index: 2;
}
.secondaryNav {
	background: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	font-size: 12px;
	min-height: inherit;
	margin-bottom: 25px;
	z-index: 1;
}
.secondaryNav .catNav {
	margin-left: 0;
}
.secondaryNav .navbar-nav > li > a {
	color: #555555;
	padding: 10px 12px;
}
.secondaryNav .navbar-nav > li > a:hover,
.secondaryNav .navbar-nav > li > a:focus {
    background-color: #ddd;
}
#userMenu span {
	float: left;
}
#userMenu i {
	line-height: 20px;
	display: block;
	float: right;
	margin-left: 4px;

}
.navbar .regnavbar-nav .navbar-nav .open .dropdown-menu {
	right: auto;
}
.navbar .regnavbar-nav .navbar-nav .open .dropdown-menu.inverse {
	left: auto;
	right: 0;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #008ed6;
    color: #FFFFFF;
}
.navbar-inverse .regnavbar-nav > .open > a, .navbar-inverse .regnavbar-nav > .open > a:hover, .regnavbar-inverse .regnavbar-nav > .open > a:focus {
    background-color: #008ed6;
    color: #FFFFFF;
}
.dropdown-menu > li > a {
	color: #888;
	font-weight: 300;
}
.navbar .navbar-nav .regnavbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .regnavbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .regnavbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .regnavbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .regnavbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #eee;
    color: #888;
}
.navbar .navbar-nav .regnavbar-nav .search_menu.open .dropdown-menu {
	float: left;
	left: auto;
	padding: 12px;
	right: 0;
	width: 500px;
}
.search_menu .form-control {
	height: 44px;
}
.previewNav {
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
}
.previewNav .closeframe {
	border-right: 1px dashed #999999;
    float: left;
    font-size: 20px;
    line-height: 60px;
    margin: 0 25px;
    padding-right: 25px;
}
.previewNav .closeframe a {
	color: #ccc;
}
.previewNav .logo {
	float: left;
	height: auto;
	margin: 0 25px 0 0;
	padding: 15px 0 9px;
}
.previewNav .logo img {
	display: block;
    height: 32px;
}
.previewNav .info {
	float: right;
	line-height: 60px;
	margin: 0 25px;
}
.previewNav .info a {
	color: #888;
}
.previewNav .info a:hover,
.previewNav .info a:focus {
	color: #005885;
}
.previewNav .buy {
	float: right;
	margin: 9px 25px;
}
@media(max-width:767px){
	.previewNav .logo {
		display: none;
	}
}
@media(max-width:500px){
	.previewNav .buy {
		display: none;
	}
	.previewNav .info {
		font-size: 12px;
		margin: 0 25px 0 0;
	}
}

.text-muted{
    margin-top: 15px;
    font-size: 2em;
    font-weight: 200;
    font-family:Century;
    margin-left: 1%;
    color: #ffffff;
    text-decoration: none;
    float: left;
}

ul.text-info{
    margin-left: 1%;
    margin-top: 2%;
    float: left;
    width: 600px;
}
.text-info a{
    font-size: 1em;
    font-weight: 400;
    margin-left: 1%;
    padding-right: 10px;
    color:antiquewhite;
    text-decoration: none;
    
}
.text-info p{
    font-size: 1em;
    font-weight: 400;
    margin-left: 1%;
    padding-right: 10px;
    color:antiquewhite;
    text-decoration: none;
    
}
.text-info a:hover{
    text-decoration: underline;
    
}
@media(max-width:994px){
    .text-muted{
    margin-top: 15px;
    font-size: 2em;
    font-weight: 200;
    font-family:Century;
    margin-left: 1%;
    color: #ffffff;
    text-decoration: none;
    float: left;
}
ul.text-info{
	margin-left: 30%;
    margin-top: -7%;
    float: left;
    width: 600px;
}
.text-info a{
    font-size: 1em;
    font-weight: 400;
    padding-right: 10px;
    color:antiquewhite;
    text-decoration: none;
    
}
.text-info p{
	margin-left: 1%;
    font-size: 1em;
    font-weight: 400;
    padding-right: 10px;
    color:antiquewhite;
    text-decoration: none;
    
}
.text-info a:hover{
    text-decoration: underline;
    
}
}

.mainHeader h1 {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 34px;
	font-weight: 400;
}
.mainHeader h1.pageTitle {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 40px;
}
.mainHeader h1 .angle {
	margin: 0 8px;
}
.mainHeader p {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/* font-size: 20px; */
	margin: 0 0 40px;
	font-weight: 300;
}
.mainHeader .btnGroup .btn {
	border-radius: 3px;
	box-shadow: none;
	color: #ffffff;
	font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 10px;
	padding: 14px 30px;
	text-transform: uppercase;
}
.mainHeader .btnGroup .btn .fa {
	padding-right: 5px;
}
.mainHeader .btnGroup .btn:focus,
.mainHeader .btnGroup .btn:hover {
	border-color: #fff;
}
.heat{
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 87px;
    background-image: url(../img/wood.png);
    position: relative;
}
.heat img{
    top: 15px;
    position: relative;
    opacity: 0.9;

}
@font-face { font-family:Century; src:/fonts/ufonts.com_century;}
.logo_img{
    width: 85px;
    height: 78px;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: left;
}
#heat_logo_text{
    font-size: 3em;
    font-weight: 200;
    font-family:Century;
    margin-left: 1%;
    color: #ffffff;
    text-decoration: none;
    float: left;
    
}
#featured.orbit{
    text-align: center;
    display: block; 
    width: 33%; 
    height: auto; 
    margin: 0 auto;
    box-shadow:10px 10px 10px 0px rgba(0,0,0,0.25);
}
.mSlider{
    width: 100%;
}
/*Main menu*/
.panel.panel-default{
    text-align: center;
    display: block;
    width: 31%;
    height: auto;
    margin: 0 auto;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    box-shadow:10px 10px 10px 0px rgba(0,0,0,0.25);
    background-repeat: repeat;
    border-color: lightgray;
    border-radius: 5px;
    color: darkgrey;
}
.panel.panel-default a{
    color:#4c4c4c;
}
ul.pager{
    text-align: center;
    display: block; 
    width: 33%; 
    height: auto; 
    margin: 0 auto;
    padding-top: 50px;
}
.collapse.navbar-collapse{
    background-color: #efefef;
}
/*SEARCH FORM*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

/* Стили для контейнера формы */

.form-wrapper.cf
{
    float: right;
}
.form-wrapper {
    width: 500px;
    padding: 15px;
    margin-top: 7px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Стили поля ввода текста */
 
.form-wrapper input {
    width: 330px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Кнопка отправки формы */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #e54040;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.form-wrapper button:before { /* стрелка влево */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* Удаляем дополнительное пространство рядом с кнопкой в Mozilla Firefox */
    border: 0;
    padding: 0;
}    

/*END*/
#footer{

}
footer {

	
    
}
.navbar-fixed-bottom
{
	background-color: #811515;
	color: #ffffff;
	font-size: 14px;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	height: 85px;
	position: absolute;
}
.navbar-fixed-top{
    position: relative;
}
.panel-body{
    

}
.reg_image{
    position: relative;
    left: 33%;
    width: 98.9%;
    height: 768px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999999;
}
.btn.btn-primary{
    float: center;
    background-color: darkgray;
    border-color: transparent;
}
.btn.btn-primary:hover{
    background-color: #811515;
    color: white;
    border-color: transparent;
    transition-duration: 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color: #811515;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 600;
	padding: 20px 14px;
	text-transform: uppercase;
    text-shadow:4px 4px 4px rgba(0,0,0,0.5);
    opacity: 0.75;

}
#loginm{
    float: right;
}
.panel.panel-collapse{
    text-align: left;
    background-image: url(../img/120.png);
    background-repeat: repeat;
    border-color: lightgray;
    border-radius: 5px;
    box-shadow:10px 10px 10px 0px rgba(0,0,0,0.25);
}
#dir-panel{
    text-align: left;
    background-image: url(../img/120.png);
    background-repeat: repeat;
}
.col-md-8{
    
}
#map1{
    float: right;
    height: 400px;
    width: 500px;
    position: relative !important;
    /*overflow: visible !important; */
}
.social-icons{
    position: fixed;
    top:55%;
    right:10px;
    padding-right: 0;
    margin-right: 0;
}
.social-icons:hover{}
.img1{ 
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_YouTube.png);
    background-repeat: no-repeat;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.img2{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_facebook.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}
.img3{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_email.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}
.img4{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_instagram.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}
.img5{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_YouTube.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}
.img6{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url(../img/ico_email.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
}

.h-button{
    width: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:lightgray;
    color: gray;
    font-weight: 200;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 20px;
    transition: all 0.5s ease;
    box-shadow:5px 5px 5px 0px rgba(0,0,0,0.25);
    opacity: 0.75;
    border-color: transparent;
}
.h-button:hover{
    color: white;
    /*background-color:#811515;*/
    border-color: lawngreen;
    border-style:outset;
    border-width: 1px 1px 1px 1px;
    box-shadow:5px 5px 5px 0px rgba(0,200,66,0.25);
    
}
.btn.btn-default{
    width: 170px;
    left: 25%;
    right:25%;
    position: relative;
    background-color:lightgray;
    color: gray;
    font-weight: 200;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 25px;
    transition: all 0.5s ease;
    box-shadow:5px 5px 5px 0px rgba(0,0,0,0.25);
    opacity: 0.75;
    margin-bottom: 45px;

}
.btn.btn-default:hover{
    color: white;
    /*background-color:#811515;*/
    transition: all 0.5s ease;
    border-color: lawngreen;
    border-style:outset;
    border-width: 1px 1px 1px 1px;
    box-shadow:5px 5px 5px 0px rgba(0,200,66,0.25);
}
.panel.panel-collapse a{
    margin-left: 5px;
    color:#4c4c4c;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.panel.panel-collapse input{
    margin-left: 5px;
    width: 350px;
    border-radius: 15px;
}
#radio{
    padding-right: 40px;
}

input#radio-0{
    width: 25px;
    float: left;
}
input#radio-1{
    width: 25px;
    float: left;
}
.panel.panel-collapse{
    height: 450px;
}
.form-group label{
    margin-left: 5px;
}
#graph{
    width: 70%;
}
.panel-body font{
    margin-left: 50px;
}
input.form-control {
    border-radius: 25px;
}
@media screen and (max-width: 992px) {
  #panel-register{
      width: 85%;
      position: relative;
      left:1%;
      right:1%;     
}
    #graph{
      width: 85%;
      position: relative;
      left:1%;
      right:1%;   
    }
    /**/
}
@media screen and(max-width: 1280px and min-width:1024px) {
    .col-md-4{
        width: 570px;
    }
    #map1{
        left:-80px;
    height: 400px;
    width: 300px;
    position: relative !important;
    overflow: visible !important;
    }
    #dir-panel{
        width: 210px;
    }
    input#value.form-control {
    width: 98%;
    }
    input#hostel_id.form-control {
    width: 98%;
    }
    input#room_id.form-control {
    width: 98%;
    }
    .btn.btn-default{
    width: 170px;
    left: 35%;
    right:35%;
    position: relative;
    }
    .flex-slider img{
    position: relative;
    width: 700px;
    height: 200px;
    display: block;
}
}
@media screen and(max-width: 1024px) {
#graph{
      width: 100%;
      position: relative;
      left:10%;
      right:10%;   
    }
    .flex-slider img{
    position: relative;
    width: 500px;
    height: 200px;
    display: block;
}
}

@media screen and(max-width: 1366px and min-width:1280px) {
 #graph{
      width: 85%;
      position: relative;
      left:5%;
      right:5%;   
    }
    .flex-slider img{
    position: relative;
    width: 1000px;
    height: 300px;
    display: block;
}
}
#reg-panel{
    background-image: url(../img/120.png);
    background-repeat: repeat;
}
.btn.btn-primary{
    width: 170px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:lightgray;
    color: gray;
    font-weight: 200;
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 20px;
    transition: all 0.5s ease;
    box-shadow:5px 5px 5px 0px rgba(0,0,0,0.25);
    opacity: 0.75;
    border-color: transparent;
}
.btn.btn-primary:hover{
    color: white;
    background-color:lightgray;
    /*background-color:#811515;*/
    border-color: lawngreen;
    border-style:outset;
    border-width: 1px 1px 1px 1px;
    box-shadow:5px 5px 5px 0px rgba(0,200,66,0.25);
    
}
#stat-update{
    position: relative;
    left:0;

}
.mainHeader {
	padding: 34px 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	margin-bottom: 30px;
	/*527593*/
}
.homeHeader {
	text-align: center;
	padding: 0;
	margin: 0;
}
/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



.jssorb05{
    position:absolute
}
.jssorb05 div,.jssorb05 div:hover,.jssorb05 .av{
    position:absolute;
    width:16px;
    height:16px;
    background:url('../img/b05.png') no-repeat;
    overflow:hidden;
    cursor:pointer}
.jssorb05 div{
    background-position:-7px -7px
}
.jssorb05 div:hover,.jssorb05 .av:hover{
    background-position:-37px -7px
}
.jssorb05 .av{
    background-position:-67px -7px
}.jssorb05 .dn,.jssorb05 .dn:hover{
    background-position:-97px -7px
}
.jssora22l,.jssora22r{
    display:block;
    position:absolute;
    width:40px;
    height:58px;
    cursor:pointer;
    background:url('../img/a22.png') center center no-repeat;
    overflow:hidden
}
.jssora22l{
    background-position:-10px -31px
}
.jssora22r{
    background-position:-70px -31px
}
.jssora22l:hover{
    background-position:-130px -31px
}
.jssora22r:hover{
    background-position:-190px -31px
}
.jssora22l.jssora22ldn{
    background-position:-250px -31px
}
.jssora22r.jssora22rdn{
    background-position:-310px -31px
}
.jssora22l.jssora22lds{
    background-position:-10px -31px;
    opacity:.3;
    pointer-events:none
}
.jssora22r.jssora22rds{
    background-position:-70px -31px;
    opacity:.3;
    pointer-events:none
}

#jssor_1{
    position:relative;
    margin:0 auto; top:0px;
    left:0px;
    width:1300px;
    height:500px;
    overflow:hidden;
    visibility:hidden;
}

/*SLIDER 2*/
/* Global */

#myCarousel{
	
}

img {
	max-width:100%; 
	}

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    a:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter: alpha(opacity=50); /* IE7 */
        opacity: 0.6;
        text-decoration: none;
    }

.span3{
	float:left;
	margin-bottom: 50px;
	margin-right: 20px;

}
/* Container */
.container-fluid {
	background-color: rgba(0, 0, 0, 0.75);
	margin: 40px auto 10px;
	padding: 20px 40px 50px;
	max-width: 100%;
	position:relative;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
.carousel-inner{
	margin: auto !important;
}
/* Page Header */
.page-header {
    margin: -30px -40px 40px;
    padding: 20px 40px;
    color: #999;
}
.page-header h3 {
    line-height: 0.88rem;
    color: #c5c5c5;
}



/* Thumbnail Box */
.caption h4 {
    font-size: 1.5rem;
    color: #c5c5c5;
    }
.caption p {
    font-size: 1.25rem;
    color: #999;
}
.btn.btn-mini {
    font-size: 1.25rem;
    background-color:gainsboro;
    border-radius: 12px;

}


/* Carousel Control */
.control-box {
    text-align: center; 
    width: 100%; 

}
.carousel-control{
    background: #fff;
    border-radius: 50px;
    display: inline-block;
    font-size: 64px;
    font-weight: 200;
    line-height: 10px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 100px;
}
.carousel-control.left{
	margin-right:10%;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}
.slides a{
    color: white;
    font-size: 32px;
    font-weight: 200;
    position: relative;
    float: left;

    top:20%;
    left:2%;
    animation-duration: 1.5s;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0.2), rgba(255,0,0,0.8));
}
.slides a:hover{
    color: antiquewhite;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}



/*SLIDER 3*/
#cont-fluid-slider{
    background-color: transparent;
	margin: 40px auto 10px;
	padding: 20px 40px 50px;
	max-width: 100%;
	position:relative;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#cont-fluid-slider h4{
	color: grey;
}
#cont-fluid-slider p{
	color: black;
}
#cont-fluid-slider .btn.btn-mini {
	background-color: lightgrey;
}
#cont-fluid-slider .page-header {
	border-bottom: 0px;
}
#cont-fluid-slider #myCarousel {
	margin: auto;
	top: -10px;

}
.item{
	top: -10px;
}