{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row">
        <div>
            {% if current_user.is_authenticated %}
                <h1>Sample admin text</h1>
            {% else %}
                <br>
                <form method="POST" action="">
                    {{ form.hidden_tag() if form.hidden_tag }}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for f in form if f.type != 'CSRFTokenField' %}
                                <div class="form-group">
                                    <div class="input-group">
                            <span class="input-group-addon" style="width: auto">
                                {% if f.label.text == 'Login' %}
                                    <i class="glyphicon glyphicon-user" style="width: auto"></i>
                                {% elif f.label.text == 'Password' %}
                                    <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                                {% endif %}
                            </span>
                                        {{ f(class='form-control') }}
                                    </div>
                                </div>
                                {% if f.errors %}
                                    <ul>
                                        {% for e in f.errors %}
                                            <li>{{ e }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                           <button class="btn" type="submit">Войти</button>
                        </div>
                    </div>
                </form>
                {{ link | safe }}
            {% endif %}
        </div>
        <a class="btn btn-primary" href="/"><i class="icon-arrow-left icon-white"></i> Back</a>
    </div>
{% endblock body %}