    <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Hostel</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    <div class="navbar navbar-inverse navbar-static-top primaryNav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
    				<span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="http://agenciasampling.com.br/asampling/assets/img/sample/shortcode/logo/1.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/hostels">Hostels</a></li>
                    </li>
                    <li>
                        <a href="/plot">Plot</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% block content %}{% endblock %}
<footer>
    <div class="container">
        <p>Footer</p>
            </div>
    </footer>



    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </div>
    </body>

    </html>