{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Rooms</h1>
            <div class="panel panel-default">
                {% for room in rooms %}
                <div class="panel-body">
                    <h4><p><a href="{{ url_for('room_detail', room=room.id) }}">{{ room.room_number }}</a></p>
</h4>
                </div>
                {% endfor %}
            </div>
            </div>
    </div>
</div>

{% endblock %}