{% extends 'base.html' %} {% block content %}

<script type="text/javascript">
    var delay_popup = 1000;
    var delay_popu1p = 7000;
    setTimeout("document.getElementById('message').style.display='block'", delay_popup);
    setTimeout("document.getElementById('message').style.display='none'", delay_popu1p);

</script>
<script src="../static/js/campus-map-display.js"></script>
<div class="container">
    <div class="row">

        <h1 class="page-header">Карта</h1>


        <div class="col-md-12">

            <div id="map1" class="animated zoom-out"></div>
            <script src="../static/js/map.js" type="text/javascript"></script>
            <script>


            </script>
            <div id="dir-panel" class="panel panel-default">
                <input name="1" type="button" id="myButton" value="Херсонський Держаний Університет" onclick="KSU()" />
                <br>
                <input name="2" type="button" id="myButton" value="Гуртожиток №2" onclick="campus_two()" />
                <br>
                <input name="3" type="button" id="campus-3" id="myButton" value="Гуртожиток №3" onclick="campus_three()" />
                <br>
                <input name="4" type="button" id="myButton" value="Гуртожиток №4" onclick="campus_four()" />
                <br>
                <input name="5" type="button" id="myButton" value="Автобусні зупинки" onclick="stops()" />
                <br>
                <input name="6" type="button" id="myButton" value="ЖД вокзали" onclick="trail()" />
                <br>
                <input name="7" type="button" id="myButton" value="Авто вокзали" onclick="bus()" />
                <br>
                <input name="8" type="button" id="myButton" value="Парки" onclick="gymCenters()" />
                <br>
                <input name="1" type="button" id="myButton" value="Кінотеатри" onclick="KSU()" />
                <br>
                <input name="2" type="button" id="myButton" value="Лікарні" onclick="campus_two()" />
                <br>
                <input name="3" type="button" id="myButton" value="Мед пункт" onclick="campus_three()" />
                <br>
                <input name="4" type="button" id="myButton" value="Магазини" onclick="campus_four()" />
                <br>
                <input name="5" type="button" id="myButton" value="Ринок" onclick="bar()" />
                <br>
                <input name="6" type="button" id="myButton" value="Спорт залы" onclick="busStations()" />

            </div>
            <div class="campus-info-panel-in">
                <div id="c3" class="campus-show-3">
                    <div class="campus-image"></div>
                    <div class="campus-text-info">
                        <p>Находится по адресу ул.Красностуденческая, 34.

                            <br>Введено в эксплуатацию в 1966 году.

                            <br>Это 5-этажное здание коридорного типа проживания.

                            <br>На каждом этаже:

                            <br>- 38 комнат

                            <br>- 2 кухни

                            <br>- 2 туалетные комнаты

                            <br>- умывальные комнаты

                            <br>- холл.

                            <br>Дополнительная инфраструктура:

                            <br>- оборудованный спортивный зал

                            <br>- читальный зал

                            <br>- душевые комнаты.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div id="message" class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Підказка</h4>
            <p>Виберіть об'єкт зі списку для зручної навігації.
        </div>
    </div>
</div>


{% endblock %}
