{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Hostels</h1>
            <div class="panel panel-default">
                {% for hostel in hostels %}
                <div class="panel-body">
                    <h4><a href="{{ url_for('hostel_detail', hostel=hostel.id) }}">Hostel: {{ hostel.number }}. Adress:
                        {{ hostel.adress }}</a></h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

