{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h1 class="page-header">Комнаты в общежитии # {{ floors[0].hostel_id }}</h1>
        <div class="col-md-8">
            <div class="panel panel-default">
                {% for floor in floors %}
                    <div class="col-md-12 panel panel-body-default">
                        <h5>Floor {{ floor.floor }}</h5>
                        <div class="panel panel-body">
                            {% for room in rooms %}
                                {% if floor.floor == room.floor  %}
                                    {% set  places = [0] %}
                                    {% for person in persons %}
                                        {%  if room.room_number == person.room_id %}
                                            {% if places.append(places.pop() + 1)  %}{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <div class="col-md-2">
                                <h4><a href="{{ url_for('room_detail', hostel=room.hostel_id, room=room.room_number) }}">{{ room.room_number }} ({{ places[0] }}/{{ room.numbers_of_person }})</a></h4>
                                </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-collapse">
                <form action="{{ url_for('hostel_detail_free', hostel=rooms[0].hostel_id) }}">
                    <button type="submit" class="btn btn-default">Показать комнаты в которых есть места</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}