{% extends 'base.html' %}
{% block content %}

    <div class="mainHeader homeHeader">
        <div class="container">

            <div style="min-height: 50px;">
                <!-- Jssor Slider Begin -->
                <!-- To move inline styles to css file/block, please specify a class name for each element. -->
                <!-- ================================================== -->
                <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                    <!-- Loading Screen -->
                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url(..../static/img/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                    </div>
                    <!-- Slides Container -->
                    <div class="slides" u="slides"
                         style="position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
                        {% for news in newsslider %}
                            <div>
                                <img u="image" src=../static/files/{{ news.path }}/>
                                <div class="bottom-news">
                                    <a
                                            href="{{ url_for('sliderpost', id=news.id) }}">{{ news.title }}. {{ news.previewtext }}
                                    </a>

                                </div>

                            </div>
                        {% endfor %}

                    </div>
                    <!-- bullet navigator container -->
                    <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
                        <!-- bullet navigator item prototype -->
                        <div u="prototype"></div>
                    </div>
                    <!--#endregion Bullet Navigator Skin End -->

                    <!--#region Arrow Navigator Skin Begin -->
                    <!-- Help: http://www.jssor.com/tutorial/set-arrow-navigator.html -->

                    <!-- Arrow Left -->
                    <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
                    <!-- Arrow Right -->
                    <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
                    <!--#endregion Arrow Navigator Skin End -->

                </div>
                <!-- Jssor Slider End -->
            </div>

        </div>

        <div id="block_view" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="container-fluid" id="cont-fluid-slider">
                            <div class="row-fluid">
                                <div class="span12">

                                    <div class="page-header">
                                        <h1 class="page-header">Гарячі Новини</h1>
                                    </div>

                                    <div class="carousel slide" id="myCarousel">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <ul class="thumbnails">
                                                    {% for post in posts[:3] %}
                                                        <li class="span3">
                                                            <div class="thumbnail">
                                                                {% if post.path %}
                                                                    <a href="#"><img
                                                                            src="../static/files/{{ getthumb(post.path) }}"
                                                                            alt=""></a>
                                                                {% else %}
                                                                    <a href="#"><img src="http://placehold.it/360x240"
                                                                                     alt=""></a>
                                                                {% endif %}

                                                            </div>
                                                            <div class="caption">
                                                                <h2>
                                                                    <a href="{{ url_for('detail_view_post', id=post.id) }}">{{ post.title[:17] }}</a>
                                                                </h2>
                                                                <p><span
                                                                        class="glyphicon glyphicon-time"></span> {{ post.timestamp }}
                                                                </p>
                                                                <p>{{ post.previewtext[:25] }}</p>

                                                                <a class="btn btn-mini"
                                                                   href="{{ url_for('detail_view_post', id=post.id) }}">Докладніше</a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- /Slide1 -->
                                            <div class="item">
                                                <ul class="thumbnails">
                                                    {% for post in posts[3:6] %}
                                                        <li class="span3">
                                                            <div class="thumbnail">
                                                                {% if post.path %}
                                                                    <a href="#"><img
                                                                            src="../static/files/{{ getthumb(post.path) }}"
                                                                            alt=""></a>
                                                                {% else %}
                                                                    <a href="#"><img src="http://placehold.it/360x240"
                                                                                     alt=""></a>
                                                                {% endif %}

                                                            </div>
                                                            <div class="caption">
                                                                <h2>
                                                                    <a href="{{ url_for('detail_view_post', id=post.id) }}">{{ post.title[:17] }}</a>
                                                                </h2>
                                                                <p><span
                                                                        class="glyphicon glyphicon-time"></span> {{ post.timestamp }}
                                                                </p>
                                                                <p>{{ post.previewtext[:25] }}</p>

                                                                <a class="btn btn-mini"
                                                                   href="{{ url_for('detail_view_post', id=post.id) }}">Докладніше</a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div><!-- /Slide2 -->
                                            <div class="item">
                                                <ul class="thumbnails">
                                                    {% for post in posts[6:9] %}
                                                        <li class="span3">
                                                            <div class="thumbnail">
                                                                {% if post.path %}
                                                                    <a href="#"><img
                                                                            src="../static/files/{{ getthumb(post.path) }}"
                                                                            alt=""></a>
                                                                {% else %}
                                                                    <a href="#"><img src="http://placehold.it/360x240"
                                                                                     alt=""></a>
                                                                {% endif %}

                                                            </div>
                                                            <div class="caption">
                                                                <h2>
                                                                    <a href="{{ url_for('detail_view_post', id=post.id) }}">{{ post.title[:17] }}</a>
                                                                </h2>
                                                                <p><span
                                                                        class="glyphicon glyphicon-time"></span> {{ post.timestamp }}
                                                                </p>
                                                                <p>{{ post.previewtext[:25] }}</p>

                                                                <a class="btn btn-mini"
                                                                   href="{{ url_for('detail_view_post', id=post.id) }}">Докладніше</a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}

                                                </ul>
                                            </div><!-- /Slide3 -->
                                        </div>
                                        <div class="control-box">
                                            <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                                            <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                                        </div><!-- /.control-box -->
                                    </div><!-- /#myCarousel -->
                                    <a class="btn btn-mini" href="{{ url_for('posts') }}">Всі Новини</a>
                                </div><!-- /.span12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                </div>
            </div>
        </div>
        <!--VIDEO SLIDER-->
        <div class="row">
            <div class="Video-frame" class="col-md-12">
                <div class="row">
                    <div id="video-slider" class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">

                                <div class="page-header">
                                    <h3>Цікаве</h3>
                                    <p>Факты та Новини студмістечка</p>
                                </div>

                                <div class="carousel slide" id="myCarousel1">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <ul class="thumbnails">
                                                {% for v in video[:4] %}
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <iframe width="360" height="240"
                                                                    src="https://www.youtube.com/embed/{{ v }}"
                                                                    frameborder="0" allowfullscreen>
                                                            </iframe>

                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div><!-- /Slide1 -->
                                        <div class="item">
                                            <ul class="thumbnails">
                                                {% for v in video[4:8] %}
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <iframe width="360" height="240"
                                                                    src="https://www.youtube.com/embed/{{ v }}"
                                                                    frameborder="0" allowfullscreen>
                                                            </iframe>
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div><!-- /Slide2 -->
                                        <div class="item">
                                            <ul class="thumbnails">
                                                {% for v in video[8:12] %}
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <iframe width="360" height="240"
                                                                    src="https://www.youtube.com/embed/{{ v }}"
                                                                    frameborder="0" allowfullscreen>
                                                            </iframe>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div><!-- /Slide3 -->
                                    </div>

                                    <div class="control-box">
                                        <a data-slide="prev" href="#myCarousel1" class="carousel-control left">‹</a>
                                        <a data-slide="next" href="#myCarousel1" class="carousel-control right">›</a>
                                    </div><!-- /.control-box -->

                                </div><!-- /#myCarousel -->

                            </div><!-- /.span12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}