{% extends "base.html" %}
{% block content %}
  <form action="" method=post class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge" placeholder="Enter title" value="{{ request.form.title }}" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="body" name="body" class="input-xlarge"
            placeholder="Enter body" value="{{ request.form.body }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}