<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
{% extends 'base.html' %}
{% block content %}
<canvas id="chart" width="740" height="200"></canvas>
<script>
var json = {{ values | tojson }};

var chartjsData = [];
var chartisLabel = [];
var buffer = [];
for (var i = 0; i < json.length; i++) {
    chartjsData.push(json[i].temperature);
    chartisLabel.push(json[i].date);
    buffer.push({{NORMAL_T}});
}

var barChartData = {
            labels : chartisLabel,
            datasets : [
                {
                    fillColor : "rgba(220,280,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    data : chartjsData

                },
                {
                    fillColor: "rgba(220,220,220,0)",   
                    strokeColor : "rgba(255,0,0,1)",
                    data : buffer
                }
            ],
        };
    var myLine = new Chart(document.getElementById("chart").getContext("2d")).Line(barChartData);

</script>
{% endblock %}