{% extends 'base.html' %}
{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin/static/vendor/select2/select2.css?v=3.5.2" rel="stylesheet">
    <link href="/admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.css"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Темпертурный график</h1>
                <div id="graph" class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" id="demo" class="form-control">
                        <br>
                        <center>
                            <canvas id="chart2" width="740" height="400"></canvas>
                        </center>
                    </div>
                </div>
                <form action="/temp_xlsx" method="get">
                    <button type="submit" class="btn btn-success">Скачать</button>
                </form>
                <br>
                <form action="/temp_xlsx" method="post" enctype="multipart/form-data">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="usr">Укажите с какой строки начать или оставте пустым, чтобы обновить
                                полностью:</label>
                            <input type="text" class="form-control" name="row">
                            <label class="btn btn-default btn-file">
                                <input type="file" name="file" hidden>
                            </label>
                            <button type="submit" class="btn btn-info">Загрузить</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="/admin/static/vendor/moment.min.js?v=2.9.0" type="text/javascript"></script>
    <script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
    <script src="/admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>#}
    <script src="/admin/static/admin/js/form.js?v=1.0.0"></script>
    {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"#}
    {#                xmlns="http://www.w3.org/1999/html"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#demo').daterangepicker({
                "startDate": "{{ min }}",
                "endDate": "{{ max }}",
                "minDate": "{{ min }}",
                "maxDate": "{{ max }}"
            }, function (start, end, label) {
                $.ajax({
                    type: "POST",
                    url: '/plot_range',
                    data: {
                        "start": start.format('YYYY-MM-DD'), "end": end.format('YYYY-MM-DD')
                    },
                    success: function (data) {
                        var sel = $('#chart2');
                        var par = sel.parent();
                        par.empty();
                        par.append('<canvas id="chart2"></canvas>');
                        drawPlot(data);
                    }
                });
            });
        })
    </script>
    <script>
        function drawPlot(response) {
            var values = JSON.parse(response);
            var chartjsData2 = [];
            var chartjsData3 = [];
            var chartjsData4 = [];
            var labels = Object.keys(values);
            for (var i = 0; i < labels.length; i++) {
                chartjsData2.push(values[labels[i]]['2']);
                chartjsData3.push(values[labels[i]]['3']);
                chartjsData4.push(values[labels[i]]['4']);
            }
            var data = {
                labels: labels,
                datasets: [

                    {
                        label: "Общежитие 2",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(192,192,75,1)",
                        borderColor: "rgba(192,192,75,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(192,192,75,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(192,192,75,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointHitRadius: 10,
                        spanGaps: false,
                        data: chartjsData2

                    },
                    {
                        label: "Общежитие 4",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(195,72,192,1)",
                        borderColor: "rgba(195,72,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(195,72,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(195,72,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointHitRadius: 10,
                        spanGaps: false,
                        data: chartjsData3

                    },
                    {
                        label: "Общежитие 4",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,1)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointHitRadius: 10,
                        spanGaps: false,
                        data: chartjsData4

                    }

                ]
            };
            var ctx = $('#chart2');


            var baseController = Chart.controllers.line;
            Chart.defaults.mytype = Chart.defaults.line;
            Chart.controllers.mytype = Chart.controllers.line.extend({
                draw: function (ease) {
                    baseController.prototype.draw.apply(this, arguments);
                    var chart = this.chart.chart;
                    var ctx = chart.ctx;
                    if (this.calculatePointY(24) > 0) {
                        ctx.fillStyle = "rgba(255, 52, 21, 0.2)";
                        ctx.beginPath();
                        ctx.rect(this.chart['scales']['x-axis-0']['left'], this.chart['legend']['height'], this.chart['scales']['x-axis-0']['width'], this.calculatePointY(24) - this.chart['legend']['height']);
                        ctx.fill();
                    }
                    if (this.chart['scales']['x-axis-0']['top'] > this.calculatePointY(14)) {
                        ctx.fillStyle = "rgba(52, 21, 255, 0.2)";
                        ctx.beginPath();
                        ctx.rect(this.chart['scales']['x-axis-0']['left'], this.calculatePointY(14), this.chart['scales']['x-axis-0']['width'], this.chart['scales']['x-axis-0']['top'] - this.calculatePointY(14));
                        ctx.fill();
                        ctx.restore();
                    }
                }
            });
            new Chart(ctx, {
                type: 'mytype',
                data: data,
                options: {
                    responsive: true
                }
            });
        }</script>

{% endblock %}
