{% extends 'base.html' %}
{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.css"/>

    <link href="../static/css/rotating-card.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="http://www.bootstrap-year-calendar.com/download/v1.1.0/bootstrap-year-calendar.min.css"
          rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.bootstrap-year-calendar.com/download/v1.1.0/bootstrap-year-calendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>



    <script src="../static/js/view-Blocks.js"></script>

{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="page-header">Добро Пожаловать {{ current_user.login }}</h1>
            <div class="col-md-12">
                <div class="panel panel-default" id="user-panel-in">
                    <div class="panel-body">
                        <div data-role="page" id="start-all">
                            <div data-role="navbar">
                                <ul>
                                    <li><a href="#" id="abtn">
                                        <div id="a">Личные данные</div>
                                    </a></li>
                                    <li><a href="#" id="bbtn">
                                        <div id="b">Оплата</div>
                                    </a></li>
                                    <li><a href="#" id="cbtn">
                                        <div id="c">Отработки</div>
                                    </a></li>
                                    <li><a href="#" id="dbtn">
                                        <div id="d">Нарушения</div>
                                    </a></li>
                                    <li><a href="#" id="wbtn">
                                        <div id="d">Стирка</div>
                                    </a></li>
                                    <li><a href="#" id="rbtn">
                                        <div id="d">Ремонт</div>
                                    </a></li>
                                    <li><a href="/logout" id="dbtn">
                                        <div id="d">Выход</div>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                            <div class="tab-content">

                                <div class="tab-pane " id="tab6">
                                    <h1 class="page-header">Ремонт</h1>
                                    <div id="graph" class="panel panel-default">
                                        <div class="panel-body">
                                            <form action="/profile/repair" method="post">
                                                <div class="col-md-6">
                                                    <div class="form-group"><label for="comment">Описание:</label>
                                                        <textarea class="form-control" name="description" rows="5"
                                                                  id="description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="sel1">Категория:</label>
                                                        <select class="form-control" name="tag" id="tag">
                                                            <option>Сантехника</option>
                                                            <option>Электрика</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit" class="btn btn-info" value="Submit Button">
                                                </div>
                                            </form>
                                        </div>
                                        {% if repairs %}
                                            <div class="col-md-12">Мои заявки</div>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Описание</th>
                                                    <th>Дата открытия заявки</th>
                                                    <th>Категория</th>
                                                    <th>Статус</th>
                                                    <th>Дата закрытия</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for repair in repairs %}
                                                    {% if repair.fix %}
                                                        <tr class="success">
                                                            {% else %}
                                                        <tr class="danger">
                                                    {% endif %}
                                                <td>{{ repair.description }}</td>
                                                <td>{{ repair.open_date }}</td>
                                                <td>{{ repair.tag }}</td>
                                                <td>{{ repair.fix }}</td>
                                                <td>{{ repair.close_date }}</td>
                                                </tr>
                                                {% endfor %}


                                                </tbody>
                                            </table>
                                        {% endif %}


                                    </div>
                                </div>

                                <div class="tab-pane " id="tab5">
                                    <div class="calendar-panel">
                                        <div id="calendar" style="overflow:visible!important;"></div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <p><a>Комната: </a>{{ person.id }}</p>
                                    <p><a>Фамилия: </a>{{ person.first_name }}</p>
                                    <p><a>Отчество: </a>{{ person.middle_name }}</p>
                                    <p><a>Имя: </a>{{ person.last_name }}</p>
                                    <p><a>Факультет: </a>{{ person.department }}</p>
                                    <p><a>Группа: </a>{{ person.group }}</p>
                                </div>

                                {% if payment %}
                                    <div class="tab-pane" id="tab2">
                                        <br>
                                        {% set price = 0 %}
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Сен</th>
                                                <th>Окт</th>
                                                <th>Ноя</th>
                                                <th>Дек</th>
                                                <th>Янв</th>
                                                <th>Февр</th>
                                                <th>Март</th>
                                                <th>Apr</th>
                                                <th>Май</th>
                                                <th>Июнь</th>
                                                <th>Июль</th>
                                                <th>Август</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                {% if payment['Sep'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Sep_price') %}
                                                            <br>
                                                            {{ payment.get('Sep_price') }}
                                                            {% set price = price + payment.get('Sep_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Oct'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Oct_price') %}
                                                            <br>{{ payment.get('Oct_price') }}
                                                            {% set price = price + payment.get('Oct_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}

                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Nov'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Nov_price') %}
                                                            <br>{{ payment.get('Nov_price') }}
                                                            {% set price = price + payment.get('Nov_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Dec'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Dec_price') %}
                                                            <br>{{ payment.get('Dec_price') }}
                                                            {% set price = price + payment.get('Dec_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jan'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jan_price') %}
                                                            <br>{{ payment.get('Jan_price') }}
                                                            {% set price = price + payment.get('Jan_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Feb'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Feb_price') %}
                                                            <br>{{ payment.get('Feb_price') }}
                                                            {% set price = price + payment.get('Feb_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Mar'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Mar_price') %}
                                                            <br>{{ payment.get('Mar_price') }}
                                                            {% set price = price + payment.get('Mar_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Apr'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Apr_price') %}
                                                            <br>{{ payment.get('Apr_price') }}
                                                            {% set price = price + payment.get('Apr_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['May'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('May_price') %}
                                                            <br>{{ payment.get('May_price') }}
                                                            {% set price = price + payment.get('May_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jun'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jun_price') %}
                                                            <br>{{ payment.get('Jun_price') }}
                                                            {% set price = price + payment.get('Jun_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jul'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jul_price') %}
                                                            <br>
                                                            {{ payment.get('Jul_price') }}
                                                            {% set price = price + payment.get('Jul_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Aug'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Aug_price') %}
                                                            <br>
                                                            {{ payment.get('Aug_price') }}
                                                            {% set price = price + payment.get('Aug_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                        <span class="glyphicon glyphicon-piggy-bank"></span> {{ price }} грн. / полная
                                        сумма
                                        &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-piggy-bank"></span> 0 грн.
                                        / задолженность
                                    </div>
                                {% endif %}

                                {% if work %}
                                    <div class="tab-pane" id="tab3">
                                        <table class="table table-reflow">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Время начала</th>
                                                <th>Время окончания</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for w in work %}
                                                <tr>
                                                    <th scope="row">{{ w.id }}</th>
                                                    <td>{{ w.start }}</td>
                                                    <td>{{ w.end }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <span class="glyphicon glyphicon-time"></span> Отработано {{ hours }}/30:00:00


                                    </div>
                                {% endif %}

                                {% if violations %}
                                    <div class="tab-pane" id="tab4">
                                    <br>
                                    <table class="table table-reflow">
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Описание</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for violation in violations %}
                                            <tr>
                                                <td>{{ violation.date }}</td>
                                                <td>{{ violation.description }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        Резервирование
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="min-date" class="col-sm-4 control-label">Имя</label>
                            <div class="col-sm-8">
                                <input name="event-name" type="text" class="form-control" value="fdsfdsfdsf">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="min-date" class="col-sm-4 control-label">Фамилия</label>
                            <div class="col-sm-8">
                                <input name="event-location" type="text" class="form-control" value="{{ wperson.last_name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="min-date" class="col-sm-4 control-label">Дата</label>
                            <div class="col-sm-7">
                                <div class="input-group input-daterange" data-provide="datepicker">
                                    <input name="event-start-date" type="text" class="form-control" value="2012-04-05">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="close-event" data-dismiss="modal"><a>Отменить</a>
                    </button>
                    <button type="button" class="btn btn-primary" id="save-event">
                        <a>Сохранить</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('.close').click(function () {
            $('.alert.alert-danger').fadeOut()
        });


        var person = {% if wperson %}{{ wperson.id }}{% else %}null{% endif %};
        var hostel = {% if hostel %}{{ hostel }}{% else %}null{% endif %};
        var data = {{ data|tojson }};
        for (var i = 0; i < data.length; i++) {
            data[i]['startDate'] = new Date(Date.parse(data[i]['startDate']));
            data[i]['endDate'] = new Date(Date.parse(data[i]['endDate']));
        }

        function editEvent(event) {
            $('#event-modal input[name="event-index"]').val(event ? event.id : '');
            $('#event-modal input[name="event-name"]').val(event ? event.name : '');
            $('#event-modal input[name="event-location"]').val(event ? event.location : '');
            $('#event-modal input[name="event-start-date"]').daterangepicker({
                "locale": {
                    "format": "YYYY-MM-DD HH:mm",
                    "firstDay": 1
                },
                'update': event ? event.startDate : '',
                "singleDatePicker": true,
                "timePicker": true,
                "timePicker24Hour": true,
                "startDate": event ? event.startDate : ''
            });
            $('#event-modal').modal();
        }

        function deleteEvent(event) {
            var dataSource = $('#calendar').data('calendar').getDataSource();

            for (var i in dataSource) {
                if (dataSource[i].id == event.id) {
                    dataSource.splice(i, 1);
                    break;
                }
            }

            $('#calendar').data('calendar').setDataSource(dataSource);
        }

        function saveEvent() {

            console.log(new Date(Date.parse($('#event-modal input[name="event-start-date"]').val())));
            console.log($('#event-modal input[name="event-start-date"]').val());

            var enddate = new Date(Date.parse($('#event-modal input[name="event-start-date"]').val()));
            enddate.setUTCHours(enddate.getUTCHours() + 1);


            var event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: person,
                location: hostel,
                startDate: new Date(Date.parse($('#event-modal input[name="event-start-date"]').val())),
                endDate: enddate
            };

            var dataSource = $('#calendar').data('calendar').getDataSource();
            if (event.id) {
                for (var i in dataSource) {
                    if (dataSource[i].id == event.id) {
                        dataSource[i].name = event.name;
                        dataSource[i].location = event.location;
                        dataSource[i].startDate = event.startDate;
                        dataSource[i].endDate = event.endDate;
                    }
                }
                ;
            }
            else {
                var newId = 0;
                for (var i in dataSource) {
                    if (dataSource[i].id > newId) {
                        newId = dataSource[i].id;
                    }
                }
                newId++;
                event.id = newId;
                $.ajax({
                        type: "POST",
                        url: "/new_wash",
                        data: {
                            'name': event.name,
                            'location': event.location,
                            'startDate': event.startDate.toDateString(),
                            'endDate': event.endDate.toDateString()
                        },
                        success: function () {
                            dataSource.push(event);
                            $('#calendar').data('calendar').setDataSource(dataSource);
                        },
                        error: function () {
                            $(".alert.alert-danger").fadeIn();

                        }
                    }
                )

            }
            $('#event-modal').modal('hide');

        }
        $(function () {
            var currentYear = new Date().getFullYear();

            $('#calendar').calendar({
                enableContextMenu: true,
                enableRangeSelection: true,
                {% if current_user.has_role('admin') %}
                    contextMenuItems: [
                        {
                            text: 'Update',
                            click: editEvent
                        },
                        {
                            text: 'Delete',
                            click: deleteEvent
                        }
                    ],
                {% endif %}
                selectRange: function (e) {
                    editEvent({startDate: e.startDate, endDate: e.endDate});
                },
                mouseOnDay: function (e) {
                    if (e.events.length > 0) {
                        var content = '';
                        for (var i in e.events) {
                            {#                        $.ajax({#}
                            {#                            type: "POST",#}
                            {#                            url: "/new_get_person",#}
                            {#                            data: {'id': e.events[i].name, 'location': e.events[i].location},#}
                            {#                            success: function (data) {#}
                            {#                                data = JSON.parse(data);#}
                            {#                            }#}
                            {#                        });#}

                            content += '<div class="event-tooltip-content">'
                                + '<div class="event-name" style="color:' + e.events[i].color + '">' + e.events[i].name + '</div>'
                                + '<div class="event-location">' + e.events[i].location + '</div>'
                                + '</div>';
                        }

                        $(e.element).popover({
                            trigger: 'manual',
                            container: 'body',
                            html: true,
                            content: content
                        });

                        $(e.element).popover('show');
                    }
                },
                mouseOutDay: function (e) {
                    if (e.events.length > 0) {
                        $(e.element).popover('hide');
                    }
                },
                dayContextMenu: function (e) {
                    $(e.element).popover('hide');
                },
                dataSource: data
            })
            ;

            $('#save-event').click(function () {
                saveEvent();
            });
        })
        ;
    </script>

{% endblock %}