{% extends 'base.html' %}
{% block content %}
<div class="menu">
       
        <!-- Иконка меню -->
        <div class="icon-close">
            <img src="../static/images/close-btn.png">
        </div>
 
        <!-- Меню -->
        <ul>
            <li><a data-toggle="tab" href="#tab1">Личные данные</a></li>
            <li><a data-toggle="tab" href="#tab2">Оплата</a></li>
            <li><a data-toggle="tab" href="#tab3">Отработки</a></li>
            <li><a data-toggle="tab" href="##tab4">Нарушения</a></li>
            <li><a href="/washing">Стирка</a></li>
            <li><a href="/repair">Ремонт</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </div>
 
    <!-- Main body -->
    <div class="background">
 
        <div class="icon-menu">
            <img src="../static/images/menu-ham-icon11.png">
            <span>Меню</span>
        </div>
    </div>
    <script src="../static/js/view-Blocks.js"></script>

    <div class="container">
        <div class="row">
            <h1 class="page-header">Добро Пожаловать, {{ current_user.login }}</h1>
            <div class="col-md-12">
                <div class="panel panel-default" id="user-panel-in">
                    <div class="panel-body">
                        <div class="tabbable"> <!-- Only required for left/right tabs -->
                            
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <p><a>Комната: </a>{{ person.id }}</p>
                                    <p><a>Фамилия: </a>{{ person.first_name }}</p>
                                    <p><a>Отчество: </a>{{ person.middle_name }}</p>
                                    <p><a>Имя: </a>{{ person.last_name }}</p>
                                    <p><a>Факультет: </a>{{ person.department }}</p>
                                    <p><a>Группа: </a>{{ person.group }}</p>
                                </div>

                                {% if payment %}
                                    <div class="tab-pane" id="tab2">
                                        <br>
                                        {% set price = 0 %}
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Сен</th>
                                                <th>Окт</th>
                                                <th>Ноя</th>
                                                <th>Дек</th>
                                                <th>Янв</th>
                                                <th>Февр</th>
                                                <th>Март</th>
                                                <th>Apr</th>
                                                <th>Май</th>
                                                <th>Июнь</th>
                                                <th>Июль</th>
                                                <th>Август</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                {% if payment['Sep'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Sep_price') %}
                                                            <br>
                                                            {{ payment.get('Sep_price') }}
                                                            {% set price = price + payment.get('Sep_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Oct'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Oct_price') %}
                                                            <br>{{ payment.get('Oct_price') }}
                                                            {% set price = price + payment.get('Oct_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}

                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Nov'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Nov_price') %}
                                                            <br>{{ payment.get('Nov_price') }}
                                                            {% set price = price + payment.get('Nov_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Dec'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Dec_price') %}
                                                            <br>{{ payment.get('Dec_price') }}
                                                            {% set price = price + payment.get('Dec_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jan'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jan_price') %}
                                                            <br>{{ payment.get('Jan_price') }}
                                                            {% set price = price + payment.get('Jan_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Feb'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Feb_price') %}
                                                            <br>{{ payment.get('Feb_price') }}
                                                            {% set price = price + payment.get('Feb_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Mar'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Mar_price') %}
                                                            <br>{{ payment.get('Mar_price') }}
                                                            {% set price = price + payment.get('Mar_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Apr'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Apr_price') %}
                                                            <br>{{ payment.get('Apr_price') }}
                                                            {% set price = price + payment.get('Apr_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['May'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('May_price') %}
                                                            <br>{{ payment.get('May_price') }}
                                                            {% set price = price + payment.get('May_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jun'] %}
                                                    <td><span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jun_price') %}
                                                            <br>{{ payment.get('Jun_price') }}
                                                            {% set price = price + payment.get('Jun_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Jul'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Jul_price') %}
                                                            <br>
                                                            {{ payment.get('Jul_price') }}
                                                            {% set price = price + payment.get('Jul_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                                {% if payment['Aug'] %}
                                                    <td>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        {% if payment.get('Aug_price') %}
                                                            <br>
                                                            {{ payment.get('Aug_price') }}
                                                            {% set price = price + payment.get('Aug_price') %}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td><span class="glyphicon glyphicon-remove"></span></td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                        <span class="glyphicon glyphicon-piggy-bank"></span> {{ price }} грн. /полная
                                        сумма
                                       &nbsp; &nbsp; &nbsp;<span class="glyphicon glyphicon-piggy-bank"></span> 0 грн. /задолжность
                                    </div>
                                {% endif %}

                                {% if work %}
                                    <div class="tab-pane" id="tab3">
                                        <br>
                                        <table class="table table-reflow">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Время начала</th>
                                                <th>Время окончания</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for w in work %}
                                                <tr>
                                                    <th scope="row">{{ w.id }}</th>
                                                    <td>{{ w.start }}</td>
                                                    <td>{{ w.end }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <span class="glyphicon glyphicon-time"></span> Отработано {{ hours }}/30:00:00


                                    </div>
                                {% endif %}

                                {% if violations %}
                                    <div class="tab-pane" id="tab4">
                                    <br>
                                    <table class="table table-reflow">
                                        <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Описание</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for violation in violations %}
                                            <tr>
                                                <td>{{ violation.date }}</td>
                                                <td>{{ violation.description }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

