{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="col-md-6">
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <fieldset class="form-group">
                {{ f.label }}
                {% if f.name == 'birthday' or f.name == 'date_of_issue' %}
                {{ f(**{'data-date-format': 'YYYY-MM-DD', 'data-role': 'datepicker', 'class': 'form-control'})}}
                {% else %}
                {{ f(class="form-control") }}
                {% endif %}
                {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </fieldset>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {{ link | safe }}
    </div>
</div>
{% endblock %}


