{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-6">
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <fieldset class="form-group">
                {{ f.label }}
                {{ f(class="form-control") }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </fieldset>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {{ link | safe }}
    </div>
</div>
{% endblock %}

<input data-date-format="YYYY-MM-DD" data-role="datepicker" id="date" name="date" type="text" value="" class="active">