{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Статистика</h1>
            <div class="panel panel-default">
                <h1 class="page-header">Общая статистика</h1>

                <div class="panel-body">
                    <h4>Всего комнат: {{ stats.places_all }}</h4>
                    <h4>Всего комнат в 2 общежитии: {{ stats.places2 }}</h4>
                    <h4>Всего комнат в 3 общежитии: {{ stats.places3 }}</h4>
                    <h4>Всего комнат в 4 общежитии: {{ stats.places4 }}</h4>
                    <h4>Одна свободное место: {{ stats.free_1 }}</h4>
                    <h4>Два свободны мест: {{ stats.free_2 }}</h4>
                    <h4>Три свободных мест: {{ stats.free_3 }}</h4>
                    <h4>Четыре свободных мест: {{ stats.free_4 }}</h4>
                    <h4>Дата обновления данных: {{ stats.date }}</h4>
                    <form role="form" method="POST">
                        <button type="submit" id="stat-update" class="btn btn-default" value="secondS" name="button">Обновить</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Факультеты</h1>
                    <canvas id="departments"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Комнаты в общежитиях</h1>
                <canvas id="rooms"></canvas>
                </div>
            </div>
<div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Курсы</h1>
                    <canvas id="courses"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Факультеты в общежитии 2</h1>
                    <canvas id="departments_2"></canvas>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Факультеты в общежитии 3</h1>
                    <canvas id="departments_3"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Факультеты в общежитии 4</h1>
                    <canvas id="departments_4"></canvas>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Места в общежитии 2</h1>
                    <canvas id="places_2"></canvas>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Места в общежитии 3</h1>
                    <canvas id="places_3"></canvas>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Места в общежитии 4</h1>
                    <canvas id="places_4"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Форма обучения</h1>
                    <canvas id="foe"></canvas>
                </div>
            </div>

                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Пластиковые окна в общежитии 2</h1>
                    <canvas id="windows_2"></canvas>
                </div>
            </div>

                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Пластиковые окна в общежитии 3</h1>
                    <canvas id="windows_3"></canvas>
                </div>
            </div>

                        <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Пластиковые окна в общежитии 4</h1>
                    <canvas id="windows_4"></canvas>
                </div>
            </div>
                                    <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Блоки с горячей водой в общ. 3</h1>
                    <canvas id="hot_watter_3"></canvas>
                </div>
            </div>



                                    <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Блоки с горячей водой в общ. 4</h1>
                    <canvas id="hot_watter_4"></canvas>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Эконом 2</h1>
                    <canvas id="econom_2"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Эконом 3</h1>
                    <canvas id="econom_3"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="page-header">Эконом 4</h1>
                    <canvas id="econom_4"></canvas>
                </div>
            </div>




            
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("departments");
        var json = {{ departments | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].department);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("rooms");
        var json = {{ rooms | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].hostel);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("courses");
        var json = {{ courses | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].course);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("departments_2");
        var json = {{ departments_2 | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].department);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("departments_3");
        var json = {{ departments_3 | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].department);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
     <script>
        var ctx = document.getElementById("departments_4");
        var json = {{ departments_4 | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].department);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("places_2");
        var json = {{ hostel2 | tojson }};
        var data = [json[0].places-json[0].persons, json[0].persons];
        var labels = ['Свободно', 'Занято'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("places_3");
        var json = {{ hostel3 | tojson }};
        var data = [json[0].places-json[0].persons, json[0].persons];
        var labels = ['Свободно', 'Занято'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("places_4");
        var json = {{ hostel4 | tojson }};
        var data = [json[0].places-json[0].persons, json[0].persons];
        var labels = ['Свободно', 'Занято'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
        <script>
        var ctx = document.getElementById("foe");
        var json = {{ foe | tojson }};
        var data = [];
        var labels = [];
        for (var i = 0; i < json.length; i++) {
            data.push(json[i].len);
            labels.push(json[i].foe);
        }
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("windows_2");
        var json = {{ windows_2 | tojson }};
        var data = [json[0].rooms-json[0].windows, json[0].windows];
        var labels = ['Деревяные', 'Пластиковые'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("windows_3");
        var json = {{ windows_3 | tojson }};
        var data = [json[0].rooms-json[0].windows, json[0].windows];
        var labels = ['Деревяные', 'Пластиковые'];

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("windows_4");
        var json = {{ windows_4 | tojson }};
        var data = [json[0].rooms-json[0].windows, json[0].windows];
        var labels = ['Деревяные', 'Пластиковые'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("hot_watter_3");
        var json = {{ hot_water_3 | tojson }};
        var data = [json[0].blocks-json[0].hot, json[0].hot];
        var labels = ['', 'Бойлер'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
    <script>
        var ctx = document.getElementById("hot_watter_4");
        var json = {{ hot_water_4 | tojson }};
        var data = [json[0].blocks-json[0].hot, json[0].hot];
        var labels = ['', 'Бойлер'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>


        <script>
        var ctx = document.getElementById("econom_2");
        var json = {{ econom_2 | tojson }};
        var data = [json[0].rooms-json[0].econom, json[0].econom];
        var labels = ['Обычные', 'Эконом'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
            <script>
        var ctx = document.getElementById("econom_3");
        var json = {{ econom_3 | tojson }};
        var data = [json[0].rooms-json[0].econom, json[0].econom];
        var labels = ['Обычные', 'Эконом'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>
            <script>
        var ctx = document.getElementById("econom_4");
        var json = {{ econom_4 | tojson }};
        var data = [json[0].rooms-json[0].econom, json[0].econom];
        var labels = ['Обычные', 'Эконом'];
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: data,
                    backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ],
            hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#07bc73",
                "#7086f3",
                "#cf335a",
                "#2c2625",
                "#fddd18",
                "#8b288b",
                "#47d702",
                "#6052e9",
                "#dac842",
                "#cc3e46"
            ]
        }]
    }
});
</script>



{% endblock %}